<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h3><%= @restaurant.name %> </h3>
    <%= link_to "âœï¸ Edit restaurant", edit_restaurant_path(@restaurant) %>
  </div>
  <p> <strong>Address: </strong><%= @restaurant.address %> </p>
  <p> <strong>Phone number: </strong><%= @restaurant.phone_number %> </p>
  <p> <strong>Category: </strong><%= @restaurant.category %> </p>

  <% @reviews.each do |review|%>
    <div class="shadow p-4 m-4 bg-light rounded align-items-center">
      <p> <%= "â­" * review.rating %> </p>
      <p> <strong>Review: </strong><%= review.content %> </p>
    </div>
  <% end %>


  <%= link_to "âž• Add review", new_restaurant_review_path(@restaurant) %> <br>
  <%= link_to "ðŸ” View all restaurants", restaurants_path %>
</div>
